.h1,
.h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p,
.nav-item {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: teal;
}

.navbar-brand.h1 {
    background-color: teal;
    color: white;
}

.h2 {
    color: teal;
}

body {
    background-image: url(../images/prism.png)
}

.container,
.container-fluid {
    background-color: white;
}

.navbar {
    background-color: white;
}

.nav-link-container .nav-item:last-child {
    padding-right: 0;
}

.btn {
    background-color: teal;
    color: white;
}

.position-absolute {
    background-color: teal;
    color: white;
    bottom: 10px;
}

.fixed-bottom {
    background-color: grey;
    color: white;
}

.portfolioImages {
    height: 200px;
    width: 250px;
}